In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/blade/Desktop/studia/research/labels(1).csv", sep="\t")
df

/tmp/ipykernel_2355597/746396783.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/blade/Desktop/studia/research/labels(1).csv", sep="\t")

,file,examination,sequence,frame,label,mask
0,0001/samples/frames/000001.png,1,samples,1,NaN,NaN
1,0001/samples/frames/000001.png,1,samples,1,c20,0001/samples/labels/000001_c20.png
2,0001/samples/frames/000002.png,1,samples,2,NaN,NaN
3,0001/samples/frames/000002.png,1,samples,2,c20,0001/samples/labels/000002_c20.png
4,0001/samples/frames/000003.png,1,samples,3,NaN,NaN
...,...,...,...,...,...,...
1540108,1135/seq_01/frames/055783.png,1135,seq_01,55783,NaN,NaN
1540109,1135/seq_01/frames/055784.png,1135,seq_01,55784,NaN,NaN
1540110,1135/seq_01/frames/055785.png,1135,seq_01,55785,NaN,NaN
1540111,1135/seq_01/frames/055786.png,1135,seq_01,55786,NaN,NaN
1540112,1135/seq_01/frames/055787.png,1135,seq_01,55787,NaN,NaN

In [ ]:
df = df.drop(columns=["mask"])

KeyError: "['mask'] not found in axis"

In [9]:
import numpy as np
df["label"] = df["label"].replace("NaN", np.nan)
df = df.dropna(subset=["label"])
df

                                   file  examination sequence  frame label
1        0001/samples/frames/000001.png            1  samples      1   c20
3        0001/samples/frames/000002.png            1  samples      2   c20
5        0001/samples/frames/000003.png            1  samples      3   c20
7        0001/samples/frames/000004.png            1  samples      4   c20
9        0001/samples/frames/000005.png            1  samples      5   c20
...                                 ...          ...      ...    ...   ...
1173106   1128/seq_01/frames/000157.png         1128   seq_01    157   c22
1173108   1128/seq_01/frames/000158.png         1128   seq_01    158   c22
1173110   1128/seq_01/frames/000159.png         1128   seq_01    159   c22
1173112   1128/seq_01/frames/000160.png         1128   seq_01    160   c22
1173114   1128/seq_01/frames/000161.png         1128   seq_01    161   c22

[185413 rows x 5 columns]

In [10]:
ers_to_galar = {
                    # Ulcer
                    "c26": "ulcer", "c27": "ulcer",
                    "g18": "ulcer", "g19": "ulcer",
                    "g50": "ulcer", "g51": "ulcer", "g52": "ulcer",
                    "g10": "ulcer", "g33": "ulcer",
                    "g60": "ulcer",
                    # Polyp
                    "c22": "polyp", "g14": "polyp",
                    "g31": "polyp", "g45": "polyp",
                    "c23": "polyp",
                    # Active bleeding
                    "b01": "active_bleeding", "g19": "active_bleeding",
                    "g51": "active_bleeding", "g05": "active_bleeding",
                    "c02": "active_bleeding", "g15": "active_bleeding", 
                    "g46": "active_bleeding", "g62": "active_bleeding",
                    # Blood
                    "b": "blood", "b01": "blood",
                    # Erythema
                    "g22": "erythema", "g56": "erythema", "c19": "erythema",
                    "c24": "erythema", "c30": "erythema", "g32": "erythema",
                    "g59": "erythema",
                    # Erosion
                    "g20": "erosion", "g54": "erosion", "g07": "erosion",
                    "g21": "erosion",  # duodenopathy:hemorrhagic
                    "g55": "erosion", "g13": "erosion",
                    "g25": "erosion", "g29": "erosion",
                    "g58": "erosion", "g41": "erosion", "g43": "erosion",
                    # Angiectasia
                    "c01": "angiectasia", "g08": "angiectasia", "c28": "angiectasia",
                    # IBD (Crohn's / UC)
                    "c08": "IBD", "c09": "IBD", "c10": "IBD",
                    "c32": "IBD", "c33": "IBD", "c34": "IBD",
                    "g07": "IBD", "c03":"IBD", "c16": "IBD", "c11": "IBD", "c25": "IBD",
                    # Foreign body
                    "c14": "foreign_body", "g30": "foreign_body", "g42": "foreign_body","c20": "foreign_body", "g64": "foreign_body",
                    "g28": "foreign_body",  # esophageal_diverticulum
                    "g40": "foreign_body",  # gastric_diverticulum
                    "g37": "foreign_body",
                    # Esophagitis
                    "g23": "esophagitis", "g63": "esophagitis", "g67": "esophagitis", 
                    "g02": "esophagitis", "g04": "esophagitis",
                    # Varices
                    "g36": "varices", "g53": "varices", "c15": "varices", "g65": "varices",
                    # Hematin (no direct class, approximate)
                    "g47": "other",
                    "c07": "other",
                    "c12": "other",
                    "c21": "other",  # pneumatosis_coli
                    "g": "other",
                    "g01": "other", "g03": "other",
                    "g10": "other", "g12": "other",
                    "g24": "other",
                    "g27": "other",
                    "g57": "other",
                    "g61": "other",
                    "g66": "other", "g68": "other", "g69": "other",
                    # Celiac
                    "g06": "celiac",
                    # Cancer
                    "c05": "cancer", "g11": "cancer", "g26": "cancer",
                    "g39": "cancer", "c29": "cancer", "g44": "cancer",
                    "c06": "cancer", "c18": "cancer",
                    "g17": "cancer",
                    "g34": "cancer",
                    "g49": "cancer",
                    "c04": "cancer",
                    "c17": "cancer",
                    "c31": "cancer",
                    "g09": "cancer",
                    "g16": "cancer",
                    "g35": "cancer",
                    "g38": "cancer",
                    "g48": "cancer",
                    "g70": "cancer",

                    #healthy
                    "h01": "healthy",
                    "h02":"healthy",
                    "h03": "healthy",
                    "h04": "healthy",
                    "h05": "healthy",
                    "h06": "healthy",
                    "h07": "healthy",
                }

In [ ]:
unified_classes = [
                "ulcer", "polyp", "active_bleeding", "blood",
                "erythema", "erosion", "angiectasia", "IBD",
                "foreign_body", "esophagitis", "varices", "hematin",
                "celiac", "cancer", "lymphangioectasis", "other"
            ]

In [12]:
df["label"] = df["label"].replace(ers_to_galar)
df

/tmp/ipykernel_2355597/2000259806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["label"] = df["label"].replace(ers_to_galar)

,file,examination,sequence,frame,label
1,0001/samples/frames/000001.png,1,samples,1,foreign_body
3,0001/samples/frames/000002.png,1,samples,2,foreign_body
5,0001/samples/frames/000003.png,1,samples,3,foreign_body
7,0001/samples/frames/000004.png,1,samples,4,foreign_body
9,0001/samples/frames/000005.png,1,samples,5,foreign_body
...,...,...,...,...,...
1173106,1128/seq_01/frames/000157.png,1128,seq_01,157,polyp
1173108,1128/seq_01/frames/000158.png,1128,seq_01,158,polyp
1173110,1128/seq_01/frames/000159.png,1128,seq_01,159,polyp
1173112,1128/seq_01/frames/000160.png,1128,seq_01,160,polyp
1173114,1128/seq_01/frames/000161.png,1128,seq_01,161,polyp

In [13]:
df["examination"].unique()

array([   1,    2,    3, ..., 1126, 1127, 1128], shape=(1114,))